<footer class="footer">
  <div class="footer_container">
    <div class="footer_wrapper">
        <div class="left_wrapper">
            <div class="logo_wrapper">
                <img src="./images/Frame 9 (1).png" alt="X">
                <img src="./images/Frame 11 (1).png" alt="O">
            </div>
            <div class="text_wrapper">
                <p class="footer_text">© 2022 EPAM Systems, Inc.</p>
                <p class="footer_text">All Rights Reserved.</p>
            </div>
        </div>
        <div class="right_wrapper">
            <div class="logo_wrapper">
                <img src="./images/FacebookLogo.png" alt="FacebookLogo">
                <img src="./images/InstagramLogo.png" alt="InstagramLogo">
            </div>
            <div class="text_wrapper">
            <a class="footer_link" href="">Contact Us</a>
            <a class="footer_link" href="">Terms & Conditions</a>
            </div>
        </div>
    
    </div>
  </div>

</footer>

