<header class="header" >
    <div class="logo_wrapper">
       <img src='./images/Frame 9.png' alt="X">
       <img src='./images/Frame 11.png' alt="O">
    </div>
    <div class="game_wrapper">
        <div class="image_wrapper">
            <img src="./images/Play.png" alt="play">
            <a class="header-link" href="">Game room</a>
        </div>
        <div class="image_wrapper-right">
            <img src="./images/Medal.png" alt="medal">
            <a class="header-link" href="">Leader board</a>
        </div>
    </div>

    <div>
        <a class="header-register" href="">Sign In</a>
        <span>/</span>
        <a class="header-register" href="">Sign Up</a>
    </div>
        
        
   
</header>