<section class="hero">
    <h1 class="title">
        Welcome to Tic Tac Toe
    </h1>
    <div class="field_game">
     <div class="wrapper">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
     </div>
    <div class="btn_wrapp">
        <button class="btn_robot" type="button">Play with robot</button>
        <button class="btn_random-player" type="button">Play with random player</button>
        <button class="btn_friend" type="button">Play with friend</button>
    </div>
    </div>
</section>