<section class="support">
    <div class="support_wrapper">
        <p class="game_text">Like game?</p>
        <div class="donate_wrapper">
            <img src="./images/Frame 455807.png" alt="flag">
            <p class="support_text">Please support Ukraine!</p>
        </div>
        <button class="btn_donate" type="button">Donate</button>
    </div>

    <div class="error_wrapper">
        <p class="error_find">Find error?</p>
        <p class="error_text">Please let us know</p>
        <button class="btn_error" type="button">Report an error</button>
    </div>


</section>